section {
  width: 100%;
}

.tweetDisplay {
  border: 5px solid black;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tweetHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweetBody {
  border-bottom: 2px solid black;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tweetFooter {
  display: flex;
  width: 100%;
  font-size: 0.66em;
  height: 2em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons {
  width: 6em;
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profilePic {
  width: 3em;
  height: 3em;
}

.tweeterHandle {
  color: lightslategray;
}

#tweet:hover {
  box-shadow: 5px 10px;
}

.fas.fa-flag:hover {
  color: darkseagreen;
}
.fas.fa-retweet:hover {
  color: darkseagreen;
}
.fas.fa-heart:hover {
  color: darkseagreen;
}