.header {
  border: 5px red solid;
  margin: 2em;
  padding: 2em;
  display: flex;
  height: 18em;
  width: 18em;
  z-index: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(87, 102, 238, 0.781);

}

