html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-top: 5em;
  color: #545149;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #a8edea;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
}

@media only screen and (min-width: 768px) {
  .nav{
    background-color: rgba(87, 102, 238, 0.781);
  }
  .header{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 1335px) {
  .container {
    width: 60%;
  }
}