main {
  display: flex;
  height: 400px;
  width: 90%;
  z-index: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  background-color: #a8edea;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  flex-shrink: 0;

}


